
<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>WebSocket-Client</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home"   routerDirection="forward" (click)="menuSchliessen()" >Schlagzeilen</ion-item>
        <ion-item routerLink="/seite2" routerDirection="forward" (click)="menuSchliessen()" >Vokalersetzung</ion-item>
        <ion-item routerLink="/seite3" routerDirection="forward" (click)="menuSchliessen()" >Chat</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"><!-- Wert von Attribut "id" muss wie von "contentID" von ion-menu sein -->
  </ion-router-outlet>

</ion-app>
