<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vokalersetzung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item>
      <ion-label position="fixed">Eingabe:</ion-label>
      <ion-input type="text"
                [(ngModel)]="eingabeText"
                placeholder="Text für Vokalersetzung eingeben"></ion-input>
    </ion-item>

  </ion-list>

  &nbsp;

  <ion-grid class="ion-height-full">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-button (click)="onUmwandelnButton('a')">A</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button (click)="onUmwandelnButton('e')">E</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button (click)="onUmwandelnButton('i')">I</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button (click)="onUmwandelnButton('o')">O</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button (click)="onUmwandelnButton('u')">U</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>

  &nbsp;

  <ion-button expand="block"
              (click)="onZuruecksetzenButton()" >Zurücksetzen</ion-button>

</ion-content>
